<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta name="google-site-verification" content="usXqcEYsUxGfwvsFdm_zGD7c2wSD8SNq3cj6O_VQwoU"/>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Icons -->
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- Redirect HTTPS -->
  <script type="text/javascript">
    var host = "www.sieben.fr";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
  </script>

  <!-- RSS -->
  {% feed_meta %}

  <!-- SEO -->
  {% seo %}
</head>
